entrypoint = "main.py"
modules = ["cpp-clang14"]

[nix]
channel = "stable-24_05"
packages = ["qemu_full", "nasm", "gcc-unwrapped", "binutils-unwrapped"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Build and Run SCos"

[[workflows.workflow]]
name = "Build SCos"
author = 37620234
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SCos && make clean && make"

[[workflows.workflow]]
name = "Build and Run SCos"
author = 37620234
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SCos && make clean && make && make run"
